
1_lab_graphics/build-1_lab_graphics-Desktop_Qt_5_14_2_MinGW_32_bit/

2_3_lab_graphics/build-2_3_lab_graphics-Desktop_Qt_5_14_2_MinGW_32_bit/

4_lab_graphics/build-4_lab_graphics-Desktop_Qt_5_14_2_MinGW_32_bit/

1_lab_graphics/1_lab_graphics.pro.user

2_3_lab_graphics/2_3_lab_graphics.pro.user

4_lab_graphics/4_lab_graphics.pro.user
